@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

[data-theme="dark"] {
  --background: bg-gray-500;
  --foreground: white;
}

[data-theme="light"] {
  --background: white;
  --foreground: black;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--foreground);
    background-color: var(--background);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--foreground);
    background-color: var(--background);
  }
}
